.menu-top-nav-container > ul > li:nth-child(2) ul > li {
width:100% !important;
}
.menu-top-nav-container > ul > li:nth-child(2) ul > li a {
margin-left:0 !important;
}
.menu-top-nav-container > ul > li:nth-child(2) {
width: 11% !important;
}
.menu-top-nav-container > ul > li:nth-child(3) {
width: 55% !important;
}
.menu-top-nav-container > ul > li:nth-child(4) {
width: 22% !important;
}
@media (max-width: 1024px) {
.menu-top-nav-container > ul > li:nth-child(2) {
width: 100% !important;
}
.menu-top-nav-container > ul > li:nth-child(3) {
width: 100% !important;
}
.menu-top-nav-container > ul > li:nth-child(4) {
width: 100% !important;
}
.menu-top-nav-container ul li a {
border:none !important;
}
.menu-top-nav-container ul > li > a:hover,
.menu-header-secondry-nav-container ul li a:hover,
.menu-top-nav-container ul li ul.sub-menu li.nav-heading > a:hover,
.menu-top-nav-container ul li ul.sub-menu li.nav-heading.current_page_item > a {
border-bottom:none !important;
}
.sub-menu li {
line-height:inherit !important;
}
.menu-top-nav-container > ul > li ul li.nav-heading > a {
line-height:inherit !important;
}
.sub-menu li a {
color:#4d4d4f !important;
padding:5px 0 !important;
}
.sub-menu li a strong {
font-weight:normal !important;
font-family:'Montserrat-light' !important;
}
#site-navigation ul.sub-menu {
display:none !important;
margin-left:15px !important;
}
#site-navigation ul.sub-menu.active {
display:block !important;
}
}